## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
1,2,Jamestown,US,74.52,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,3,Acapulco,MX,87.62,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
3,5,Kahului,US,87.82,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
4,6,Airai,TL,65.43,scattered clouds,-8.9266,125.4092,Juvinal Martin

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Whether Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
#vacation_df = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Rosarito"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Rosarito"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Maneadero"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="San Quintin"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Guerrero Negro"]

In [8]:
# Dataframes for chosen 4 cities
print(type(vacation_start))
(vacation_start)

<class 'pandas.core.frame.DataFrame'>

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
222,441,Rosarito,MX,85.05,clear sky,32.3333,-117.0333,Hotel Festival Plaza Rosarito

In [9]:
(vacation_stop1)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
332,640,Maneadero,MX,77.18,clear sky,31.7167,-116.5667,Casa De Thompson

In [10]:
(vacation_stop2)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
58,133,San Quintin,MX,71.89,clear sky,30.4833,-115.95,Don Eddie's Sport Fishing Center

In [11]:
(vacation_stop3)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
156,312,Guerrero Negro,MX,74.01,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [13]:
# Confirm latitude longtitude pairs
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(32.3333, -117.0333)
(32.3333, -117.0333)
(31.7167, -116.5667)
(30.4833, -115.95)
(27.9769, -114.0611)

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
# trip1 = gmaps.directions_layer(start, stop1)
# trip2 = gmaps.directions_layer(stop1, stop2)
# trip3 = gmaps.directions_layer(stop2, stop3)
# trip4 = gmaps.directions_layer(stop3, end)

# fig.add_layer(trip1)
# fig.add_layer(trip2)
# fig.add_layer(trip3)
# fig.add_layer(trip4)

trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
#itinerary_df = pd.concat([(vacation_start), (vacation_stop1), (vacation_stop2), (vacation_stop3), (vacation_end)],ignore_index=True)
itinerary_df = pd.concat([(vacation_start), (vacation_stop1), (vacation_stop2), (vacation_stop3), (vacation_end)],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,441,Rosarito,MX,85.05,clear sky,32.3333,-117.0333,Hotel Festival Plaza Rosarito
1,640,Maneadero,MX,77.18,clear sky,31.7167,-116.5667,Casa De Thompson
2,133,San Quintin,MX,71.89,clear sky,30.4833,-115.9500,Don Eddie's Sport Fishing Center
3,312,Guerrero Negro,MX,74.01,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
4,441,Rosarito,MX,85.05,clear sky,32.3333,-117.0333,Hotel Festival Plaza Rosarito

In [16]:

# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Whether Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))